services:
  app:
    build:
      context: .
      target: production-main
      dockerfile: Dockerfile
    ports:
      - "6900:3000"
    env_file:
      - .env
    depends_on:
      - websocket
    restart: unless-stopped
    networks:
      - shared_backend

  websocket:
    build:
      context: .
      target: production-websocket
      dockerfile: Dockerfile
    ports:
      - "8084:8080"
    env_file:
      - websocket/.env
    restart: unless-stopped
    networks:
      - shared_backend

networks:
  shared_backend:
    external: true
